# 忽略所有版本管理系统本身的文件

# 忽略 VS Code 的项目设置和配置（通常是个人化的）
.vscode/

# 忽略您图片中提示的超大文件
01_data/01_data_raw/Student Data-20250817T025019Z-1-001.zip
01_data/01_data_raw/meta-California.json

02_original_version/_original_data/meta-California.json
02_original_version/_resourses_give_by_uni/meta-California.json.gz

01_data/02_data_wrangled/Task1_for_GroupALL.json
01_data/02_data_wrangled/Task1_for_GroupALL.ftr
01_data/02_data_wrangled/Task1_for_GroupALL.pkl
01_data/03_images_raw.zip
01_data/04_data_for_app1/App1_Data_Train.ftr

04_extended_app/App1_Multimodal_Text_Classification/best_multimodal_model.pth